{% load static %}


    <meta charset="UTF-8">
    <!-- External CSS Only -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <!-- web-style.css -->
     <link rel="stylesheet" href="{% static 'website/web-style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!--External JS ONLY-->
    <script src="{% static 'website/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


